body
{
    background-color: #212121;
    text-align: center;
    color: #e3e3e3
}

/* Automatically set the styles for any h1 elements in the HTML */
h1
{
    color: #e3e3e3;
}

/* Automatically set the styles for any h2 elements in the HTML */
h2
{
    color: #e3e3e3;
    text-align: left;
}

p
{
    text-align: left;
}

/*div class that adds padding for different sections of the page*/
div.section
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/*div class that adds a little top and bottom padding to separate article links from one another*/
div.article-link
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-link-title
{
    color: #00bd4f;
}

.article-link-title:hover
{
    color: #e3e3e3;
    text-decoration: none;
}

h4.article-link-subtitle
{
    color: #03873a;
}

h5.article-link-author
{
    color: #c5fcdc;
}

#hero-image-text
{
    font-family: 'Monaco', monospace;
    letter-spacing: 8px;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}